/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #4a8cef;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 12px;
  background: linear-gradient(to bottom right, #f0f2f7, #d2d4dd);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.1);
  animation: floatShadow 3s ease-in-out infinite alternate;
}

.container h1 {
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container p {
  color: #555;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@keyframes floatShadow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes LeftToRight {
  0% {
    transform: translateX(0%);
    color: #cec7c7; /* Initial text color */
  }
  100% {
    transform: translateX(20%);
    color: #000; /* Final text color */
  }
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: LeftToRight 3s forwards;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;
}

p,
input,
textarea {
  margin-bottom: 20px;
}

small {
  display: block;
  margin-bottom: 20px;
  color: #888;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

a,
button {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.full-width {
  display: block;
  text-align: center;
  width: 100%;
}

a,
button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

a.edit {
  background-color: #007bff;
  /* margin-right: 10px; */
}

a.delete {
  background-color: #e74c3c;
}

a.delete:hover {
  background-color: #c0392b;
}

#newPostBtn {
  margin: 20px 0;
  background-color: #2ecc71;
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #27ae60;
  text-decoration: none;
}

#newPostBtn:hover {
  background-color: #0d7b3b;
  transition: background-color 1s;
}
